﻿@using System.Net
@using Microsoft.AspNetCore.Http
@using System.Web
@using System.Xml.Linq
@using FileDistribution.Controllers
@using Newtonsoft.Json

@{
    ViewData["Title"] = "DownloadAPK";
}


@{
    FileController fileController = new FileController();

    ////string apkListUrl = Context.Request.Host + "/api/downloadAPK/List";
    //string apkListUrl = Context.Request.Path + "/api/downloadAPK/List";

    //apkListUrl = apkListUrl.Replace("localhost", "http://127.0.0.1");

    //WebClient client = new WebClient();

    //var fileList = JsonConvert.DeserializeObject<List<ApkFile>>(client.DownloadString(apkListUrl));
    var fileList = fileController.GetListApkFiles();

}


<div class="row">
    <div class="col-md-6">
        <h2>Latest APKs:</h2>
    </div>
</div>
@*
    <hr />
    <div class="row">
        <div class="col-md-2">
            <h4>Build Number</h4>
        </div>
        <div class="col-md-4">
            <h4>File Name</h4>
        </div>
        <div class="col-md-3">
            <h4>Date Created</h4>
        </div>
        <div class="col-md-3">
            <h4>Download</h4>
        </div>
    </div>*@
@{
    foreach (var file in fileList)
    {
        <hr />
        <div class="row">
            <div class="col-md-2">
                <h5>@file.BuildNumber</h5>
            </div>
            <div class="col-md-4">
                <h5>@file.Name</h5>
            </div>
            <div class="col-md-3">
                <h5>@file.DateCreated.ToString("MM/dd/yyyy HH:mm")</h5>
            </div>
            <div class="col-md-3">

                <a class="btn btn-default" download="@file.Name" href="@file.Url">
                    Download APK
                </a>
            </div>
        </div>


    }
}


