﻿@{
    ViewData["Title"] = "Home Page";
}




<div class="row">
    <div class="col-md-6">
        <h2>GSSI File Download Site</h2>
    </div>



</div>
<div class="row">
    <div class="col-md-4">
        <h4><a asp-area="" asp-controller="Home" asp-action="DownloadAPK">APK List</a></h4>
    </div>
</div>
